---
layout: default
---
<div class="home">
	<a href="intent:#Intent;action=android.settings.SETTINGS;end;">open settings1</a><br>
	<a href="intent://Intent;action=android.settings.SETTINGS;end;">open settings2</a><br>
	<a href="intent://#Intent;scheme=package;action=android.settings.APPLICATION_DETAILS_SETTINGS;end">open settings3</a><br>
	<a href="intent://Intent;scheme=package;action=android.settings.APPLICATION_DETAILS_SETTINGS;end">open settings4</a><br>
	<a href="intent://com.anroid.settings.slices#Intent;scheme=settings;action=android.intent.action.VIEW;end">open settings5</a><br>
	<a href="intent:#Intent;action=android.intent.action.VIEW;end">open settings6 V</a><br>
	<a href="intent:com.anroid.settings.slices#Intent;scheme=settings;action=android.intent.action.VIEW;end">open settings7</a><br>
	<a href="intent:#Intent;action=android.intent.action.VIEW;package=com.android.settings;end">open settings8</a><br>
	<a href="intent:#Intent;package=com.android.settings;end">open settings8-1</a><br>
	<a href="intent://com.anroid.settings.slices/#Intent;scheme=settings;package=com.android.settings;S.doctype=FRA;S.docno=FRA1234;S.browser_fallback_url=http%3A%2F%2Fgoogle.com;end">open settings8</a>
	<a href="intent:com.anroid.settings.slices/#Intent;scheme=settings;package=com.android.settings;S.doctype=FRA;S.docno=FRA1234;S.browser_fallback_url=http%3A%2F%2Fgoogle.com;end">open settings9</a>
	<a href="intent:com.anroid.settings.slices/#Intent;scheme=settings;package=com.android.settings;S.doctype=FRA;S.docno=FRA1234;;end">open settings9</a><br>
	<a href="intent://com.android.settings/#Intent;scheme=settings;package=com.android.settings;end">open settings10-1</a><br>
	<a href="intent://settings/#Intent;scheme=settings;package=com.android.settings;end">open settings10-2</a><br>
	<a href="intent://package=com.android.settings;end">open settings11-1</a><br>
	<a href="intent:package=com.android.settings;end">open settings11-2</a><br>
	<a href="android-app://com.android.settings;end">open settings11-3</a><br>
	<a href="android-app://package=com.android.settings;end">open settings11-3</a><br>
	
	<!-- <a href="intent://untact.iam-iam.com#Intent;scheme=http;package=com.android.chrome;end">영상 테스트</a> -->
	<!--
	<a href="weixin://">위챗</a>
	<button id="scanQRCode0">Scanner</button><br>-->
<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>

<div class="wrapper">
<ul class="post-list">
  {% for post in paginator.posts %}
  <li>
    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <section class="post-excerpt" itemprop="description">
      <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
    </section>
    <section class="post-meta">
      <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>
      <div class="post-categories">
      {% if post.categories.size > 0 %}in {% for cat in post.categories %}
        {% if site.jekyll-archives %}
        <a href="{{ site.baseurl }}/category/{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
        {% else %}
        <a href="{{ site.baseurl }}/posts/#{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
        {% endif %}
      {% endfor %}{% endif %}
      </div>
    </section>
  </li>
  {% if forloop.last == false %}
  <hr>
  {% endif %}
  {% endfor %}
</ul>

<nav class="pagination" role="navigation">
	<p>
    {% if paginator.previous_page %}
			{% if paginator.page == 2 %}
			<a class="newer-posts" href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
        </span>
      </a>
			{% else %}
			<a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">
				<span class="fa-stack fa-lg">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			{% endif %}
		{% else %}
		<span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
    </span>
		{% endif %}
		<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% if paginator.next_page %}
		<a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
      </span>
    </a>
		{% else %}
		<span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
    </span>
		{% endif %}
	</p>
</nav>
</div>
</div>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
  document.querySelector('#scanQRCode0').onclick = function () {
		try{
			wx.scanQRCode();
		}catch(e){
			alert(e);
		}
		alert("done!");
  };
</script>
